.button-info {
  height: 40px;
  font-family: "TT Lakes Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  white-space: nowrap;
  padding: 8px;
  background-color: #F8F8F8;
  border: none;
}

.button-info:hover {
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  cursor: pointer;
  padding: 6px;
}

.button-info:focus {
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  padding: 6px;
}

.button-info:active {
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  padding: 6px;
}