.button-menu-element {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FF3E79;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button-menu-element:hover,
.button-menu-element:active {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FF3E79;
  opacity: 0.5;
  cursor: pointer;
}