.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
    min-height: 208px;
    margin: 0 auto;
  }
}

@media (min-width: 1120px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1052px;
    min-height: 307px;
    margin: 0 auto;
  }
}