.summary {
  display: none;
  width: 125px;
}

.summary:hover, .summary:active {
  cursor: pointer;
}

@media (min-width: 768px) {
  .summary {
    display: flex;
    margin-left: 32px;
    height: 24px;
  }
}

@media (min-width: 1120px) {
  .summary {
    display: flex;
    margin-left: 39px;
    height: 24px;
  }
}